

<div class="container">
<div class="row">
        <div class="col-md-6">
            
                <app-form (addUser)="check($event)"></app-form>
    
                
        </div>
        <div class="col-md-6">
                <blockquote class="text-center text-lg">
                        <div class="well">
                            
                                          
                                 
                                 
                                  <h3 appStrikethrough>Username: {{repos.login}}</h3>
                        <h3>Repository: {{repos.public_repos}}</h3>
                        <h3>Followers: {{repos.followers}}</h3>
                        <h3>Following: {{repos.following}}</h3>
                        
                        </div>   
                        
                    </blockquote>
    
        </div>
</div>
</div>